@import 'base/_mixins'
@import 'base/_variables'
@import 'blocks/_promo'
@import 'blocks/_header'
@import 'blocks/_buttons'
@import 'blocks/_advantages'
@import 'blocks/_consultation'
@import 'blocks/_titles'
@import 'blocks/_forms'
@import 'blocks/_carousel'
@import 'blocks/_media'

    
* 
    font-family: 'Museo Sans Cyrl', sans-serif

a
    transition: 0.3s all
    &:hover
        text-decoration: none
        color: $main-color

.container
    position: relative
    max-width: 950px
    margin: 0 auto